/* Google Fonts
    Sora (Header)
    Montserrat (Paragraph)
    Inter (Alternate)
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Sora:wght@100;300;400;500;700;800&display=swap');

/* CSS Reset */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  
  /* Default Font */
  font-family: var(--mainFont);
  scroll-behavior: smooth;
}

body{
    background-color: var(--black);
    overflow-x: hidden;
}

/* Variables */
:root{

    /* Fonts */
    --mainFont: 'Sora', sans-serif;
    --secondaryFont: 'Montserrat', sans-serif;
    --altFont: 'Inter', sans-serif;

    /* Colors */
    --black: #2f2f2f;
    --grey: #3B3B3B;
    --darkAccent: #3c3830;
    --darkerAccent: #32342c;
    --accent: #999543;

    --maxWidth: 1400px;
}

.ta-center{
    text-align: center;
}

.ta-right{
    text-align: right;
}

/* General Styling */
a{
    text-decoration: none;
    color: var(--black);
}

.icons a i:hover{
    transform: translateX(-5px);
    color: var(--accent);
    transition: all 250ms ease;

}

li{
    list-style-type:none;
}

h1{
    font-size: clamp(1vh, 6rem, 5.5rem);
    color:var(--black);
    line-height: 75%;
    font-family: var(--secondaryFont);

}

.heading, .sub-heading{
    color:white;
    line-height: 90%;
    font-family: var(--mainFont);
}

.heading{
    font-size: clamp(40px, 5rem , 5rem);
}

.sub-heading{
    font-size: clamp(40px, 4rem , 4rem);
}

.paragraph{
    font-size: clamp(10px, 1.2rem, 70px);
    font-weight: 400;
    font-family: var(--secondaryFont);
    color: rgb(175, 175, 175);
    
    line-height: calc(120% + 2px);
    margin-bottom: 10px;
}

    .indent-slight{
        text-indent: 3rem;
    }

    .nowrap{
        white-space: nowrap;
    }

.section-number{
    color:transparent;
    -webkit-text-stroke: 1px black;
    text-stroke: 4px var(--black);

    font-weight: 900;
    font-family: var(--secondaryFont);
    font-size: clamp(20px, 2.4rem, 70px);

    text-transform: uppercase;
}

/* Buttons */
.btn{
    border: none;
    border-radius: 1vmin;

    font-family: var(--mainFont);
    font-size: clamp(16px, 1.4rem, 70px);
    font-weight: bold;
    color: var(--darkerAccent);
    
    background-color: var(--accent);
    padding:10px 20px 10px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.26);
    transition: all 150ms ease;
}

.btn:active{
    transform: scale(0.97);
    transition: all 150ms ease;
}
.outline{
    border: 2px solid white;
}


.text-ol{
    color: white;
    text-shadow: 1px 1px black,-1px -1px black;
}

.ignoreMouse{
    pointer-events: none;
}


/* Main Part */

header{
    background-color: #ffffff;   
    height: 470px;
    overflow: hidden;
    position: relative;
}

    .headframe{
        width: min(1300px, 100%);
        margin: 10px auto;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 1fr;

        max-width: var(--maxWidth);

        background: url('../images/decor/headerFrame.png');
        background-size: 99%  450px;
        background-repeat: no-repeat;
        z-index: 100;

    }
        
        .headframe .btn{
            border-radius: 0;
        }
        
        .headframe .left-side{
            /* background-color: blue; */
            overflow: visible;
            position: relative;
        }

            .headframe .left-side img {
                display: block;
                object-fit: contain;

                position:absolute;
                width: 800px;
                height: 420px;
                left:-82px;
                top:65px;

                z-index:50;
                
            } 

        .headframe .right-side{
            z-index: 150;
            /* background-color: rgba(255, 0, 0, 0.178); */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            position: relative;
        }

            .title-name{
                position: relative;
                
            }

            .title-name h1{
                font-size: 7rem;
                text-indent: -7px;
            }

            .sub-name{
                font-weight: bold;
                font-family: var(--secondaryFont);
                font-size: 1.2rem;
                color: var(--darkAccent);

                display: flex;
                align-items: center;
                position: relative;
                /* background-color: green; */
                width: 50%;
            }
            .sub-name p{
            }
            .sub-name .line{
                border-bottom: 3px solid var(--darkerAccent);
                width: 100px;
            }

                .socials{
                    background-color: red;
                    width: 100%;
                }
                .socials .gfx{
                    transform: scale(1);
                    position: absolute;
                    top: 30px;
                    left: 50% ;
                }

                .socials .icons{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 2px;
                    position: absolute;
                    top: 125%;
                    right: -7%;

                    font-size: 1.2rem;
                }

         

            .headframe .right-side .title-name h1:nth-child(2),
            .headframe .right-side .title-name h1:nth-child(3){
                    position: absolute;
                    left: 0%;
            }

                .title-name h1:nth-child(2){
                    top: -45px;
                    opacity: 0.12;
                    z-index: -10;
                }

                .title-name h1:nth-child(3){
                    top: -85px;
                    opacity: 0.05;
                    z-index: -20;
                }


    .header-decor{
        position: absolute;
        top: 0;
        left:0%;
        width: 100vw;
        height: 100%;
    }
            .header-decor .left,
            .header-decor .right{
                position: absolute;
            }

            .header-decor .left{
                top: 0;
                left: 0;
            }

            .header-decor .right{
                top: -30px;
                right: 0%;
            }


/* Navigation */

.nav-sect{
    margin: 0 auto;
    max-width: var(--maxWidth);
    /* background-color: red; */
    max-height: 0%;
    transform: translate(-30px, -40px);
    z-index: 200;
}

nav{
    background-color: #334267;
    width: min(100%, 700px);
    padding: 10px 40px;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-radius: 0 3vmax 0 0;

}

    .relativePos{
        position: relative;
    }

    .navigation{
        background-color: #1B1F22;
        border-radius: 5vmin;
        display: flex;
        justify-content: space-between;
        padding:5px 5px;
        gap: 15px;

        overflow-x: auto;

    }

    .navigation li{
        border-radius: 5vmin;
    }

  
    .navigation li a{
        color: white;
        font-size: clamp(1em, 1.1rem, 4rem);
        padding: 10px 20px;

        font-weight: bold;
        font-family: var(--mainFont);
        display: block;
        width: 100%;
        height: 100%;

        text-transform: uppercase;
        white-space: nowrap;
    }
    .navigation li:hover a{
        color: var(--darkAccent);
        transition: all 250ms ease;

    }
    .navigation li:hover{
        background-color: #96946C;
        transition: all 250ms ease;
    }


/* About Section */
#about{
    /* min-height: 600px; */
    margin-top: -100px;
    padding-top: 100px;
    max-width: var(--maxWidth);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 55% 1fr;

    position: relative;
}

    /* Background */
    #about::before{
        content: "";

        position: absolute;
        width: 100vw;

        left: 50%;
        right: 50%;

        margin-left: -50vw;
        margin-right: -50vw;

        height: 100%;
        z-index: -200;
        background-color: var(--darkAccent);
    }
    
    #about .image {
        margin-top: -75px;
    }
        #about .image img{
            display: block;
            height: 100%;
            /* background-color: red; */
        }
        
    #about .text-part{
        padding: 50px;
    }

    #about .text-part p{
        font-size: 2rem;
    }

/* Likes & Hobbies */
 #likes{
    display: grid;
    grid-template-columns: 60% 1fr;

    min-height: 700px;
    max-width: var(--maxWidth);
    margin: 0% auto;
    position: relative;
    z-index: 0;
 }

    #likes::before{
        content: "";
        background-color: var(--grey);
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: -100;
        pointer-events: none;
        left: 50%;
        right: 50%;

        margin-left: -50vw;
        margin-right: -50vw;
    }

    #likes .text-part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;

        padding: 20px;
        
    }

    #likes .like-nav{
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        align-items: flex-end;
        overflow-y: hidden;
        overflow-x: visible;
        padding:0 20px;

        border-bottom: 7px var(--accent) solid;
    }

        .like-nav .section-nav{
            /* background-color: red; */
            outline: 2px solid white;
            cursor: pointer;
            transform: translateY(25%);
            transition: all 50ms ease;
            background-size: 120% 500px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .like-nav .section-nav .name{
            color: white;
            font-size: 2.3rem;
            text-transform: uppercase;
            text-decoration: underline;
            font-family: var(--mainFont);
            font-weight: 700;

            opacity: 0;
        }
        
        .like-nav .section-nav:nth-child(1){
            height: 70%;
            border-radius: 10vw 0 0 0 ;
            background-image: url("../images/picture/ngnl.jpg");
     
            background-size: cover;
            background-position: center;

        }
        .like-nav .section-nav:nth-child(2){
            height: 80%;
            border-radius: 15vw 0 0 0 ;
            background-image: url("../images/picture/ylia.webp");
            

        }
        .like-nav .section-nav:nth-child(3){
            height: 60%;
            border-radius: 0 10vw 0 0 ;
            background-image: url("../images/picture/watamote.jpg");
            background-size: cover;
            background-position: center;
        }

        #likes .like-nav .section-nav:hover{
            transform: translateY(0%);
            background-color: #1b1f22e8;
            background-blend-mode: multiply;
            transition: all 400ms ease;
        }

        #likes .like-nav .section-nav:hover .name{
            transform: translateY(30px) scale(1.12);
            opacity: 1;
            transition: all 500ms ease;

        }



/* Like Section */
#music{
    max-width: var(--maxWidth);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 60% 1fr;
    position: relative;
    padding:100px;
}

    #music .text-part{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .musics{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }

    .songs-row{
        display: flex;
        justify-content: center;
        /* width: 100%; */
        /* gap: 1em;  */
    }

    .song{
        /* max-width: 450px; */
        /* width: 400px; */
        min-width:250px;
        /* background: rgb(48, 255, 110); */
        cursor: pointer;
        position: relative;
    }

        .song:hover img{
            filter: brightness(.4);
            transition: all 250ms ease;

        }
        .song:hover p{
            color: #02B7EC;
            transition: all 350ms;
        }
/* 
        .song:hover::before{
            content:'Listen';

            color: white;
            font-size: 2rem;
            font-weight: bolder;
            position: absolute;
            top: 30%;
            left: 30%;
            z-index: 100;
            opacity: 1;
            transition: all 300ms ease;
        } */

        .song img{
            display: block;
            /* border-radius: 100%; */
            aspect-ratio: 1/1;
            /* width: 100%; */
            margin: 0 auto;
            object-fit: contain;
        }
    
        .song .name{
            color: white;
            padding-top: 10px;

            font-family: var(--altFont);
            text-shadow: 1px 1px black;
            font-weight: bold;
            font-size: large;
            white-space: nowrap;
            text-align: center;
            /* min-width: 150px; */
        }

/* Game General Section */
#game-general{
    /* background-color: rebeccapurple; */
    max-width: var(--maxWidth);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
    /* overflow-y: hidden; */
    /* overflow-x:visible; */
}

    #game-general .text-part{
        padding:50px;
        position: relative;
    }

    #game-general .text-part img{
        position: absolute;
        filter: drop-shadow(0px 3px 0px white );
    }
   
    #game-general .text-part a{
         color: #8FDDFF;
    }
 

/* Osu Section */
#game-osu{
    margin: 0 auto;
    max-width: var(--maxWidth);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    /* background-color: red; */
    
    padding: 140px 0;
    position: relative;
}
    #game-osu .image {
        display: grid;
        place-items: center;
         padding: 10px;
    }

    #game-osu .image img{
        display: block;
        max-width: 100%;
        max-height:100%;
        margin: 0 auto;
    }

    #game-osu .text-part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #game-osu .text-part .skin-name{
        color: white;
        font-size: 2.2rem;
        padding: 20px 0 10px;
    }

/* Anime Section */

#anime{
    max-width: var(--maxWidth);
    margin: 0 auto;
    /* background-color: red; */

    display: grid;
    grid-template-columns: 50% 1fr;
    position: relative;
}

    #anime .text-part{
        /* display: flex;
        justify-content: center;
        flex-direction: column; */

        padding: calc(4em + 100px) 50px;
    }

        #anime .text-part .heading{
            opacity: .7;
        }

    #anime .image{
      display: grid;
      place-items: center;
    }

    #anime .image img{
        display: block;
        max-width: 80%;    
        max-height: 80%;    
    }

/* Favorite Anime Section */
#anime-fav{
    max-width: var(--maxWidth);
    margin: 0% auto;
    padding: 20px;
}

    #anime-fav .container{
        border: 40px solid #474747;
        outline: -10px solid #474747;

        display: grid;
        grid-template-columns: 35% 1fr;
        gap: 5em;
        padding:80px 60px;
       transform: scale(.7);

    }

    #anime-fav .text-part{
        padding-top: 50px;
    }
    #anime-fav .sub-heading {
        font-size: 3.5rem;
    }
    #anime-fav .sub-heading span{
        color:#02B7EC;
    }

    #anime-fav .paragraph{
        border: 3px solid white;
        padding: 1em;
        margin: 1em;
    }

    #anime-fav .rating{
       background-color: var(--accent);
       padding: 10px;
       color: white;
       font-size: 3rem;
       font-weight: bolder;
       display: inline-block;
    }

    #anime-fav .container img{
        max-width: 100%;
        outline: 4px solid white;
    }


/* Best Girl Section */
#anime-best{
    max-width: var(--maxWidth);
    margin: 0 auto;
    /* background-color: red; */
    height: 1000px;
    transform: scale(.9);

}

    #anime-best .sub-heading{
        font-size: 2.3rem;
    }
    #anime-best .section-number{
        font-size: 1.3rem;
    }
    
    .char-cards{
        /* background-color: green; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4em;
        padding: 10px;


    }

    .char-cards .card{
        height: 600px;
        width: 250px;
        /* background-color: blue; */
        outline: 4px solid white;
        background-color: #49432869;
        transition: all 400ms ease;

    }

    .char-cards .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .char-cards .card:last-child img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }


    .char-cards .card p{
        color: white;
        font-size: 1rem;
        text-align: center;
    }

    .char-cards .card .name{
        /* text-decoration: underline; */
        font-weight: bold;
        text-transform: uppercase;
        color: var(--accent);
    }

    .char-cards .card .source{
        font-weight: lighter;
        font-size: .7rem;
        font-family: var(--secondaryFont);
    }

    .char-cards:hover .card{
        width: 100px;
        filter: brightness(.5);
        transform: all 400ms ease;
    }
    


    .char-cards .card:hover{
        width:500px;
        filter: brightness(1);
        transition: all 400ms ease-out;
    }
    .char-cards .card:hover .name{
        transform: translateX(-5px);
        font-size: 1.5rem;
        transition: all 550ms;
    }


/* Anime 3 x 3 Section */
#anime-three{
    max-width: var(--maxWidth);
    margin:200px auto 50px;
    position: relative;
}
 

    #anime-three .three{
        /* min-height: 800px; */
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 500px;
        margin: 50px auto 0;
    }

    #anime-three .three .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    #anime-three .anime{
        width: 120px;
        background-color: green;
        aspect-ratio:14/18;
        /* outline: 5px solid white; */
    }

    #anime-three .anime img{
        width: 100%;
        height: 100%;
        display: block;
        filter: drop-shadow(5px 5px 0px #0000005d);
    }

    #anime-three .anime-small{
        width: 105px;
    }

    #anime-three .section-number{
        font-size: 1.4rem;
    }

    #anime-three .sub-heading{
        font-size: 2.3rem;
    }
    
    #anime-three .paragraph{
        padding-top: 20px;
        font-size: .9rem;
        max-width: 50ch;
        margin: 0% auto;
    }

    #anime-three .decor{
        position: absolute;
        width: 100%;
        margin: 0 auto;

        display: block;
        /* background-color: red; */
        /* top: clamp(20%, 50px, 4rem); */
        /* padding-top: ; */
        pointer-events: none;
        opacity: .6;
        top: 70px;
        left: 0;
        z-index: -100;
        transform: scale(120%);
    }


#friends{
    max-width: var(--maxWidth);
    margin: 200px auto 0;
    /* padding:200px 0; */
    position: relative;
    --padding:7em;
    border-top: 15px solid white;

}

    #friends .text-part{
        padding-top: var(--padding);
        
    }

    #friends .tomo{
        display: flex;
        justify-content: center;
        gap: 8em;
        padding: 50px 0;
        text-align: center;
        color: white;
        padding-bottom: var(--padding);
        filter: drop-shadow(4px 2px 2px rgba(255, 28, 206, 0.158));
    }  


        #friends .friend img{
            height: 180px;
        }

        #friends .friend .tag{
            font-size: 1rem;
            font-weight: lighter;
        }
        
        #friends .friend .name{
            font-size: 2.3rem;
            font-weight: bolder;
        }

    #friends .section-number{
        -webkit-text-stroke-color: white;
    }

/* Contact Section */
#contact{
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding-top: 90px;
    display: grid;
    grid-template-columns: 50% 1fr;
    position: relative;
    /* height: 300px; */
}

    #contact .text-part{
        padding-top: 10px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
        #contact .text-part .section-number{
            -webkit-text-stroke-color: white;

        }
        #contact .text-part .paragraph{
            text-indent: 2rem;
        }

    #contact .image{
        /* background-color: green; */
        height: 500px;
    }
        
        #contact .image img{
            height: 100%;
        }

    #contact-cards{
        /* background-color: red; */
        height: 100%;
        position: relative;
        left: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:2em;
    }

    #contact-cards .contact-card{
        min-width: 200px;
        height: 100%;
        aspect-ratio: 2/3;
        background-color: var(--black);
        border-radius: 2vmin;
        border: 1px solid white;
        overflow: hidden;
        cursor:pointer;

    }
        .contact-card{
            /* background-color: #4158D0; */
            background-image: linear-gradient(120deg, transparent 30%, #41afd0 50%, #c8bc50 90%, #c6db4d 120%);

            /* background-color: red; */
            background-position: -10% -10%;
            background-size: 300% 300%;
            background-repeat: no-repeat;
            position: relative;

            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            transition: background-position 150ms ease-out;


        }

        .contact-card::before{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;

            /* background-color: red;/ */
            background: radial-gradient(circle, rgba(255,255,255,1) 6%, rgba(255,255,255,0) 6%);
            /* background-repeat: repeat; */
            background-size: 3vmin 3vmin;
            /* background-attachment: fixed; */
            background-position: 0% 0%;
            opacity: .3;
            transition: all 250ms ease;

            pointer-events: none;
        }
        
        .contact-card:hover::before{
            background-position: -10% -10%;
            transition: all 250ms ease;
            opacity: .85;

        }

        .contact-card:hover{
            background-position: 100% 100%;
            transform:translate3d(0px, -2px , 20px);
            transition: background-position 500ms ease-out;

        }


        .contact-card .text{
            color:white;
            text-align: center;
            font-size: 1.4rem;
        }

       
        .flex-end{
            justify-content: flex-end;
        }
        .contact-card .bottom-text{
            color: white;
            text-align: left;
            /* background-color: red; */
            font-size: 2rem;
            font-weight: bolder;
            padding: .3em;
            /* height: 100%; */
            /* justify-self: flex-end; */
            
        }
        
        .contact-card .top-text{
            padding: .1em;
            color: white;
            text-align: right;
            position: absolute;
            top: 5px;
            right: 5px;
            font-weight: lighter;
        }

#banner{
    /* background-color: red; */
    /* min-height: 200vh; */
    padding: 200px 0;
}

    #banner .small, #banner .big{
        background: url('../images/background/ytbanner.png');
        background-size: 100%;
        background-attachment: fixed;
    }
    #banner .small{
        height: 56px;
        margin: 5em 0;
        width: 100vw;
        /* background-color: green; */
    }
    
    #banner .big{
        height: 320px;
        margin: 200px 0;
        width: 100vw;
        /* background-color: rgb(128, 41, 0); */
    }


footer{
    background-color: #1B1F22;
    min-height: 80vh;
    text-align: center;
    padding: 120px;
    position: relative;
    color: rgba(255, 255, 255, 0.616);
}
    footer i{
        color: #02B7EC ;
    }

    footer .return-btn{
        font-size: 2.3rem;
        background-color: var(--accent);
        padding:13px 20px;
        display: inline-block;
        margin: 20px 0 ;
    }
        footer .return-btn:hover{
            transform: scale(1.02);
            transition: all 250ms ease;
        }
        .return-btn i{
            color: var(--black);
        }

    footer .text-part a{
        color: #02B7EC;
        text-decoration: underline;
        font-weight: bold;
    }

    footer .text-part .title{
        color: white;
        font-size: 2.8rem;
        font-weight: bolder;
    }

    footer .text-part .creator{
        font-weight: lighter;
    }

.background{
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -50;
    
    left: 50%;
    right: 50%;

    margin-left: -50vw;
    margin-right: -50vw;
    /* background-color: red; */
    pointer-events: none;
}

    .streets-bg{
        overflow-y: hidden;
        background: linear-gradient(to right, #3B3B3B 0%, rgba(0, 0, 0, 0) 30%, #3B3B3B 80% ),url("../images/background/streets.png");
        background-size: cover;
        width: var(--maxWidth);
        left: -200px;
        right: 0%;
        height: 80%;
        margin-right: inherit;
        margin-left: inherit;
        background-position: center;
        filter: blur(3px);
        opacity: 0.5;
    }

    .sky{
        background: linear-gradient(270deg, #3B3B3B 48.02%, rgba(0, 0, 0, 0.3) 86.38%, #3B3B3B 99.69%), url('../images/picture/sky.jpg');
        background-position: center;
        background-size: cover;
    }

    .sky-alt{
        background-image: url('../images/background/sky-alt.jpg');
        background-position: bottom;
        background-size: cover;
        filter: brightness(.5);

        background-attachment: fixed;
    }

    .mild-accent{
        background-color: #3C3830;
    }

    .dark-accent{
        background-color: #2C2C2C;
    }

    .grey{
        background-color: var(--grey);
    }

    .osu{
        background-image: url('../images/background/osu-bg.png');
        /* mix-blend-mode: overlay; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .takt{
        background-image: url('../images/background/takt.jpg');
        background-size: cover;
        background-position: center;
        mix-blend-mode: overlay;

        opacity: .9;
        /* filter: blur(3px); */
    }
    .dark-left{
        background-color: #292929;
    }
    .accent-right{
        background-color: var(--accent);
        transform: translateX(60%);
    }

/* Media Queries */
@media screen and (max-width:1300px) {

    .heading{
        font-size: 3rem;
    }
    
    .paragraph{
        font-size: 1.2rem;
    }

    #about{
        grid-template-columns: 45% 1fr;
    }
        #about .image{
            z-index: -10;
        }

        #about .text-part .paragraph{
            font-size: 1rem;
        }
}


@media screen and (max-width:1000px){
    
    #likes{
        display: flex;
        flex-direction: column-reverse;
    }

    #likes .like-nav{
        height: 600px;
        margin: -200px auto 0;
        max-width: 80%;
    }

    #likes .streets-bg{
        height: 100%;
    }
    
}