/* Google Fonts
    Sora (Header)
    Montserrat (Paragraph)
    Inter (Alternate)
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Sora:wght@100;300;400;500;700;800&display=swap');

/* CSS Reset */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  
  /* Default Font */
  font-family: var(--mainFont);
}

body{
    background-color: var(--darkAccent);
    min-height: 200vh;
}

/* Variables */
:root{

    /* Fonts */
    --mainFont: 'Sora', sans-serif;
    --secondaryFont: 'Montserrat', sans-serif;
    --altFont: 'Inter', sans-serif;

    /* Colors */
    --black: #2f2f2f;
    --darkAccent: #3c3830;
    --darkerAccent: #32342c;
    --accent: #999543;

    --maxWidth: 1400px;
}


/* General Styling */
a{
    text-decoration: none;
}

li{
    list-style-type:none;
}

h1{
    font-size: clamp(1vh, 5rem, 5.5rem);
    color:var(--black);
    line-height: 75%;
}

.heading, .sub-heading{
    color:white;
    line-height: 90%;
}

.heading{
    font-size: clamp(40px, 3rem , 5rem);
}

.sub-heading{
    font-size: clamp(40px, 2.5rem , 4rem);
}

.paragraph{
    font-size: clamp(10px, 1rem, 70px);
    font-family: var(--secondaryFont);
    color: rgb(204, 204, 204);
    
    line-height: calc(120% + 2px);
    margin-bottom: 10px;
}

.section-number{
    color:transparent;
    -webkit-text-stroke: 1px black;
    text-stroke: 4px var(--black);

    font-weight: 900;
    font-family: var(--secondaryFont);
    font-size: clamp(20px, 1.7rem, 70px);

    text-transform: uppercase;
}

/* Buttons */
.btn{
    border: none;
    border-radius: 1vmin;

    font-family: var(--mainFont);
    font-size: clamp(16px, 1.4rem, 70px);
    font-weight: bold;
    color: var(--darkerAccent);
    
    background-color: var(--accent);
    padding:10px 20px 10px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.26);
    transition: all 150ms ease;
}

.btn:active{
    transform: scale(0.97);
    transition: all 150ms ease;
}
.outline{
    border: 2px solid white;
}


.text-ol{
    color: white;
    text-shadow: 1px 1px black,-1px -1px black;
}




/* Main Part */

header{
    background-color: #ffffff;   
    height: 470px;
    overflow: hidden;
    position: relative;
    z-index: -50;
}

    .headframe{
        width: min(1300px, 100%);
        margin: 10px auto;
        height: 100%;
        display: grid;
        grid-template-columns: 60% 1fr;

        max-width: var(--maxWidth);

        background: url('../images/decor/headerFrame.png');
        background-size: 99%  450px;
        background-repeat: no-repeat;
    }

        .headframe .left-side{
            /* background-color: blue; */
            overflow: visible;
            position: relative;
        }

            .headframe .left-side img {
                display: block;
                object-fit: contain;

                position:absolute;
                width: 800px;
                height: 420px;
                left:-82px;
                top:65px;

                z-index:-100;
                
            } 

        .headframe .right-side{
            z-index: 100;
            /* background-color: rgba(255, 0, 0, 0.178); */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            position: relative;
        }

            .title-name{
                position: relative;
            }
            .headframe .right-side .title-name h1:nth-child(2),
            .headframe .right-side .title-name h1:nth-child(3){
                    position: absolute;
                    left: 0%;
            }

                .title-name h1:nth-child(2){
                    top: -45px;
                    opacity: 0.12;
                    z-index: -10;
                }

                .title-name h1:nth-child(3){
                    top: -85px;
                    opacity: 0.05;
                    z-index: -20;
                }